# __pycache__
**/__pycache__

# vscode files
**/tempCodeRunnerFile.*

# venv
venv

# test files (not testing)
**/test.*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
